#root > div > div > div.footer_component > a:nth-child(n) {
  color: #ffffff;
  font-family: IBM Plex Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0px 32px 0px 0px;
}

.footer_component {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 12px;
}
