/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media all and (min-width: 1024px) and (max-width: 1280px) {
}

@media all and (min-width: 768px) and (max-width: 1024px) {
}

@media all and (min-width: 480px) and (max-width: 768px) {
}

@media all and (max-width: 480px) {
}

/*------------------------------------------
  Foundation Media Queries 
   http://foundation.zurb.com/docs/media-queries.html
--------------------------------------------*/

/* Small screens - MOBILE */
@media only screen {
} /* Define mobile styles - Mobile First */

/* max-width 640px, mobile-only styles, use when QAing mobile issues */
@media only screen and (max-width: 40em) {
  .container {
    grid-template-columns: 1fr;
    grid-gap: 0px 10.83%;
    padding: 5.8%;
  }

  .left_component,
  .right_component {
    width: 100%;
    display: grid;
    grid-gap: 0px 10.83%;
  }

  .left_component__title {
    line-height: 62.4px;
  }

  .left_component__description {
    line-height: 24px;
    margin-top: none;
  }

  .left_component__thumbnail {
    display: none;
  }
  .footer_component {
    padding-bottom: 88px;
  }
}

/* Medium screens - TABLET */
/* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) {
  .container {
    grid-template-columns: 1fr;
    grid-gap: 0px 10.83%;
    padding: 5.8%;
  }

  .left_component,
  .right_component {
    width: 100%;
    display: grid;
    grid-gap: 0px 10.83%;
  }

  .left_component__title {
    line-height: 62.4px;
  }

  .left_component__description {
    line-height: 24px;
    margin-top: none;
  }

  .left_component__thumbnail {
    display: none;
  }
  .footer_component {
    padding-bottom: 88px;
  }
}

/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .container {
    grid-template-columns: 1fr;
    grid-gap: 2.5% 10.83%;
    padding: 98px 5.8% 68px 5.8%;
  }

  .left_component,
  .right_component {
    width: 100%;
    display: grid;
    grid-gap: 2.5% 10.83%;
  }
  .left_component {
  }
  .left_component__title {
    line-height: 62.4px;
  }

  .left_component__description {
    line-height: 24px;
    margin-top: initial;
  }

  .right_component__description {
  }

  .left_component__thumbnail {
    display: none;
  }
  .footer_component {
    padding-bottom: 88px;
  }
}

/* Large screens - DESKTOP */
/* min-width 1025px, large screens */
@media only screen and (min-width: 64.063em) {
  .container {
    grid-template-columns: 30.05% 34.17%;
    grid-gap: 0px 10.83%;
    padding: 98px 12.5% 68px 12.5%;
  }

  /* .left_component {
    grid-template-columns: 56.35%;
  }
  .right_component__description {
    grid-template-columns: 64.06%;
  } */
}

/* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px 10.83%;
    padding: 98px 5.8% 68px 5.8%;
  }

  .left_component__description {
    line-height: 32px;
    margin-top: 40px;
  }

  .left_component__thumbnail {
    display: block;
  }

  .footer_component {
    padding-bottom: 68px;
  }
}

/* XLarge screens */
/* min-width 1441px, xlarge screens */
@media only screen and (min-width: 90.063em) {
  .container {
    grid-template-columns: 30.05% 34.17%;
    grid-gap: 0px 10.83%;
    padding: 98px 12.5% 68px 12.5%;
  }

  .left_component__title {
    line-height: 104px;
  }

  .left_component__description {
    line-height: 32px;
    margin-top: 40px;
  }

  .left_component__thumbnail {
    display: block;
    margin-top: 72px;
  }

  .footer_component {
    padding-bottom: 68px;
  }
}

@media only screen and (min-width: 90.063em) and (max-width: 120em) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    gap: 7.81% 10.83%;
    padding: 96px 12.5% 68px 12.5%;
  }

  .left_component {
    line-height: 104px;
  }

  .right_component {
    line-height: 83.2px;
  }
} /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/* XXLarge screens */
@media only screen and (min-width: 120.063em) {
  .container {
    grid-gap: 7.81% 26.83%;
  }
  .left_component {
    grid-gap: 0px 10.83%;
    width: 577px;
  }
  .right_component {
    grid-gap: 0px 10.83%;
    width: 656px;
  }
} /* min-width 1921px, xlarge screens */

/*------------------------------------------*/

/* Portrait */
@media screen and (orientation: portrait) {
  /* Portrait styles here */
}
/* Landscape */
@media screen and (orientation: landscape) {
  /* Landscape styles here */
}

/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {
}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
}

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation: landscape) {
}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation: portrait) {
}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation: landscape) {
}
